<div class="container">
  <h1>Part Five</h1>
  <h2>Control Value Accessor</h2>

  <form (ngSubmit)="save(form)" [formGroup]="form">
    <div class="form-group">
      <label for="owner">Owner<span class="text-danger">*</span></label>
      <input type="text" id="owner" placeholder="Owner" class="form-control" formControlName="owner" required/>
      <p class="text-danger" *ngIf="form.get('owner').dirty && form.get('owner').hasError('required')">The Owner is Required!</p>
    </div>
    <div class="form-group">
      <label for="owner">Car #1<span class="text-danger">*</span></label>
      <app-car id="car-one"  formControlName="carOne"></app-car>
      <p class="text-danger" *ngIf="form.get('carOne').dirty && form.get('carOne').hasError('required')">The Car #1 is Required!</p>
    </div>

    <div class="form-group">
      <button type="submit" class="btn btn-success mr-1">Save</button>
      <button type="button" class="btn btn-outline-danger" (click)="disableAll()">Disable All</button>
    </div>

    <h3>Value: {{form.get('carOne').value}}</h3>
    <h3>Touched: {{form.get('carOne').touched}}</h3>
    <h3>Dirty: {{form.get('carOne').dirty}}</h3>
    <h3>Error: {{form.get('carOne').hasError('required')}}</h3>
  </form>
</div>
